dl {
    padding: 0 0 0 10px;
}

dl.section {
    background-color: #F9F9F9;
    margin-left: 0px;
    padding: 15px;
}

dl.warning, dl.attention, dl.note, dl.pre, dl.post,
dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug {
    border-left: 4px solid;
}

dl.note {
    border-color: #D0C000;
}

dl.warning, dl.attention {
    border-color: #FF0000;
}

dl.pre, dl.post, dl.invariant {
    border-color: #00D000;
}

dl.deprecated {
    border-color: #505050;
}

dl.todo {
    border-color: #00C0E0;
}

dl.test {
    border-color: #3030E0;
}

dl.bug {
    border-color: #C08050;
}

dl.section dd {
    margin-bottom: 6px;
}

/* Fix style for non-box sections */
dl.section.user,
dl.section.return
{
    background-color: transparent;
    padding: 0px;
}

tbody {
    text-align: left;
}

#MSearchResults {
    width: 100% !important;
}

#search-close {
    position: absolute;
    z-index: 999;
    right: 0;
    height: 100%;
    margin-right: 10px;
}

#search-box {
    //margin-top: 0.5em;
    //margin-bottom: 0.5em;
}

.navbar {
    border: 0px;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0px;
}

.navbar-nav > li > a {
    padding: 30px;
}

.navbar-brand {
    padding: 30px;
}

div.header {
    background-image: none;
    background-color: #f8f8f8;
    border-bottom-color: #4a6aaa;
}

#right-logo {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

#right-logo img {
    height: 60px;
}

a.disabled {
    pointer-events: none;
}

td.paramname {
    padding-right: 20px;
}

div.navtab {
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#nav-path {
    margin-top: 20px;
}

div.contents {
    margin-left: 0px;
    margin-right: 0px;
}

td.mempage {
    min-height: 500px;
    width: 80%;
}

.contents table {
    width: 100%;
}

.memTemplParams,
.memtemplate,
.memname {
    font-size: 100%;
    margin-left: 0px;
}

div.textblock h3 {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

#main-menu {
    visibility: hidden;
}

.ns-fun-decl {
    padding: 10px;
    padding-left: 0px;
    font-size: 2em;
}
